[*.cs]

# CC0047: You should change to 'private set' whenever possible.
dotnet_diagnostic.CC0047.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
